.page-two-header {
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-two-txt {
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.list {
    word-spacing: 50px;
}

.txt-under-girl {
    max-width: 1110px;
    width: 100%;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}

.footer-second-page {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.projects-two {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts-two {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.socialmedia-two {
    width: 95px;
    height: 15px;
}