
.page-two-header {
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-two-txt {
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.dates {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    opacity: 0.5;
    min-width: 140px;
}

.names {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}


.txt-under-girl {
    max-width: 1110px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;

}

.footer-second-page {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.projects-two {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.contacts-two {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

.socialmedia-two {
    width: 95px;
    height: 15px;
    margin-top: 2%;

}

.logo-two {
    width: 90px;
    height: 19px;
    margin-right: 40%;
}

.genesis-site-two {
    width: 90.132px;
    height: 19.344px;
}