.full-set {
    max-width: 420px;
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    display: flex;
}

.full-set-txt {
    display: flex;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
    width: 445px;
    height: 56px;
}

.img-map {
    max-width: 1110px;
    width: 100%;
    max-height: 570px;
    height: 100%;
    display: grid;
    place-items: center;
}

.logo-three {
    margin-right: 40%;
}

.projects-three {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}

.contacts-three {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}

.socialmedia-three {
    width: 95px;
    height: 15px;
    margin-top: 40px;

}

.ny {
    display: flex;
    max-width: 1360px;
    width: 100%;
    max-height: 1375px;
    height: 100%;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    flex-direction: column;
}

.line {
    width: 475px;
    height: 1px;
    border: 1px solid #979797;
    opacity: 0.3;
    background: #D8D8D8;
}

.line-two {
    width: 475px;
    height: 1px;
    border: 1px solid #979797;
    opacity: 0.3;
    background: #D8D8D8;
}

.line-three {
    width: 475px;
    height: 1px;
    border: 1px solid #979797;
    opacity: 0.3;
    background: #D8D8D8;
}

.submit {
    width: 125px;
    height: 50px;
    background: #4A4FF2;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.fname {
    opacity: 0.6;
}

.lname {
    opacity: 0.6;
}

.message {
    opacity: 0.6;
}