.personinfo {
    max-width: 550px;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.txtbelowimg {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid;
    border-color: #D8D8D8;
    ;
}

.welove {
    max-width: 635px;
    width: 100%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.multimedia {
    width: 20px;
    display: flex;
    flex-direction: column;
    transform: translate(60px, 40px);
}

.creative {
    width: 20px;
    display: flex;
    flex-direction: column;
    transform: translate(60px, 40px);
}