@import 'grid';
@import 'text';
@import 'pagetwo';
@import 'pagethree';


body {
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
}

a {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}


footer {
    min-height: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    justify-content: space-around;
}

.beginning {
    min-height: 500px;
    height: 100%;
}

.firstending {}

//page two
.body-projects {
    display: flex;
    flex-wrap: wrap;
}

.body-projects {
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
}

aside {
    display: flex;
    align-items: center;
}

.dates {
    text-align: left
}

.names {
    text-align: left;
}

.first-part {
    display: flex;
    min-height: 600px;
    height: 100%;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 10%;
}

.next-to-first-part {
    display: flex;
    margin-left: 5%;
}

.image-and-txt {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.girl-walk {
    max-width: 1500px;
    width: 100%;
    max-height: 660px;
    height: 100%;
}

.pictures-ending {
    max-width: 1110px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

.projects-site-two {
    display: flex;

}

.genesis-site-two {
    display: flex;

}

//contact

.body-contact {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.introduction {
    min-height: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-left: -5%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
}

.footer-third-page {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}