@import 'grid';
@import 'text';
@import 'pagetwo';

body {
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
}

a {
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.body-projects {
    display: flex;
    flex-wrap: wrap;
}

.body-projects {
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
}

footer {
    min-height: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    justify-content: space-around;
}

.beginning {
    min-height: 500px;
    height: 100%;
}

.firstending {}

//page two
aside {
    display: flex;
    align-items: center;
    transform: translate(50%, 18%);

}

.dates {
    text-align: left
}

.names {
    text-align: left;
}

.first-part {
    min-height: 600px;
    height: 100%;
    transform: translatey(20%);
}

.girl-walk {
    max-width: 1500px;
    width: 100%;
    max-height: 660px;
    height: 100%;
    transform: translatex(7%);
}

.pictures-ending {
    max-width: 1110px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    transform: translate(7%, 20%);
}

.projects-site-two {
    display: flex;
    transform: translate(1100%, 100%);
}

.genesis-site-two {
    display: flex;
    transform: translatex(100%);
}